
<section class="la-nsettings">
  
    <v-container grid-list-xl >
      
      <v-layout row wrap justify-center>
        <v-flex xs12 sm5 md6 offset-xs0 >
          
            <v-radio-group v-model="column"  column >
                <v-radio label="Automatically (DHCP)" value="auto" ></v-radio>
                <v-radio label="Static IP" value="static"></v-radio>
              </v-radio-group>
        
              
          <v-form v-model="validStatic" ref="form" lazy-validation v-if="column==='static'">
            <v-text-field 
              label="IP Adress" 
              v-model="ipAdress" 
              :rules="ipAdressRules"
             ></v-text-field>

            <v-text-field 
              label="Subnet Mask" 
              v-model="subnetMask" 
              :rules="subnetMaskRules"
             ></v-text-field>

             <v-text-field 
              label="Default Gateway" 
              v-model="defaultGateway" 
              :rules="defaultGatewayRules"
             ></v-text-field>

             <v-text-field 
             label="Primary DNS" 
             v-model="primaryDNS" 
             :rules="primaryDNSRules"
            ></v-text-field>

            <v-text-field 
            label="Secondary DNS" 
            v-model="secondaryDNS" 
            :rules="secondaryDNSRules"
           ></v-text-field>

  
            <v-btn outline  large  color="green lighten-1"
              @click="submitManual" 
              :disabled="!validStatic">
                save
            </v-btn>
            <v-btn outline  large  color="red lighten-1"
              @click="clear">
                clear
          </v-btn>
          </v-form>

          <v-form v-model="validAuto" ref="form" lazy-validation v-show="column==='auto'">
               
              <v-btn outline  large  color="green lighten-1"
                @click="submitAuto" 
                :disabled="!validAuto">
                  save
              </v-btn>
              
            </v-form>
        </v-flex>
      </v-layout>
    </v-container>
</section>

