<section class="authentification">

  <v-container grid-list-xl  elevation-2>
      <v-toolbar class='toolbar' height="30px" color="light-blue darken-4">
          <v-toolbar-title class="white--text">LOGIN</v-toolbar-title>  
        </v-toolbar>
        <img src="static/logo.png" alt="" class="logo">
    <v-layout row wrap justify-center>
      <v-flex xs12 sm5 md6 offset-xs0 >
        <v-form v-model="valid" ref="form" @submit="submit" >
          <v-text-field prepend-icon="person" label="Name" v-model="name" :rules="nameRules" required></v-text-field>

          <v-text-field prepend-icon="lock" label="Enter your password" v-model="password" hint="At least 8 characters" min="8" :append-icon="e1 ? 'visibility_off' : 'visibility'"
            :append-icon-cb="() => (e1 = !e1)" :counter="8" :type="e1 ? 'password' : 'text'" :rules="passRules" required></v-text-field>

          <v-btn outline color="green lighten-1" @enter="submit" @click="submit" :disabled="!valid">
            submit
          </v-btn>
          <v-btn outline color="red lighten-1" @click="clear">clear</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>

</section>