.dashboard {

}
.logo{
    width: 12%;
}

.Tabs{
    margin-top: 80px;
}

.vpn{

    padding: 5px;
    height: 30px;
    border-radius: 5px;  
    border:1px solid green;
}

.vpn:hover{
   background-color: green;
   color: white;

}