<section class="dashboard">
  
  <v-snackbar :timeout="timeout" right top :color="connectionStatus" v-model="snackbar">
    Device is {{ text }}
    <v-btn flat color="white" @click.native="snackbar = false">Close</v-btn>
  </v-snackbar>

  <v-navigation-drawer
    clipped
    fixed
    v-model="drawer"
    temporary
    hide-overlay
    app
  >
    <v-list dense>
      <v-list-tile @click="">
        <v-list-tile-action>
          <v-icon>dashboard</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Dashboard</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="">
        <v-list-tile-action>
          <v-icon>settings</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Settings</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>

  <v-toolbar light app fixed clipped-left color="white">
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <img src="static/logo.png" alt="" class="logo">
    
    <v-spacer></v-spacer>
    
    
    <v-btn icon>
      <v-icon>search</v-icon>
    </v-btn>
    
    
    <v-btn icon>
      <v-icon>refresh</v-icon>
    </v-btn>
    
    
    
    
    <div class="text-xs-center">
      <v-chip>
        <v-avatar class="accent-3" :class="[vpnStatus]">
          <v-icon>vpn_key</v-icon>
        </v-avatar>
        VPN
      </v-chip>
    </div>
    
    <div class="text-xs-center">
      <v-chip>
        <v-avatar class="accent-3" :class="[connectionStatus]"></v-avatar>
        {{status}}
      </v-chip>
    </div>
    
    <v-btn icon @click="exit">
      <v-icon>exit_to_app</v-icon>
    </v-btn>
    
  </v-toolbar>
  
  <v-layout row wrap justify-center>
    <v-flex xs12 sm5 md6 offset-xs0>
      <v-tabs class="Tabs" fixed icons centered>
        <v-tabs-bar dark color="light-blue darken-4">
          <v-tabs-slider color="red accent-3"></v-tabs-slider>
          <v-tabs-item @click="page('gsm')" href="#tab-1">
            <v-icon>phone</v-icon>
            GSM
          </v-tabs-item>
          <v-tabs-item href="#tab-2">
            <v-icon>wifi</v-icon>
            WI-FI
          </v-tabs-item>
          <v-tabs-item @click="page('lan')" href="#tab-3">
            <v-icon>laptop</v-icon>
            LAN
          </v-tabs-item>
        </v-tabs-bar>
        <v-tabs-items>
          <v-tabs-content v-for="i in 3" :key="i" :id="'tab-' + i">
            <v-card flat>
              <v-card-text>
                <router-view></router-view>
              </v-card-text>
            </v-card>
          </v-tabs-content>
        </v-tabs-items>
      </v-tabs>
    </v-flex>
  </v-layout>
  

  <v-footer app fixed absolute color="grey lighten-1">
    <div>© {{ new Date().getFullYear() }}</div>
  </v-footer>
  
  
  
  
  
</section>