
<section class="gs-msettings">
  
    <v-container grid-list-xl  >
      
      <v-layout row wrap justify-center>
        <v-flex xs12 sm5 md6 offset-xs0 >
           
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field 
              label="Dail Up" 
              v-model="dailup" 
              :rules="dailUpRules"
             ></v-text-field>

            <v-text-field 
              label="APN" 
              v-model="apn" 
              :rules="apnRules"
             ></v-text-field>

             <v-text-field 
              :disabled="!UserPassword"
              label="User" 
              v-model="user" 
              :rules="userRules"
             ></v-text-field>

            <v-text-field 
              :disabled="!UserPassword"
              label="Password" 
              v-model="password" 
              :append-icon="e1 ? 'visibility_off' : 'visibility'"
              :append-icon-cb="() => (e1 = !e1)" 
              :type="e1 ? 'password' : 'text'" 
              :rules="passRules" 
            ></v-text-field>

            <v-text-field 
              label="PIN" 
              v-model="pin" 
              :append-icon="e2 ? 'visibility_off' : 'visibility'"
              :append-icon-cb="() => (e2 = !e2)" 
              :type="e2 ? 'password' : 'text'" 
              :rules="pinRules" 
            ></v-text-field>

            <v-switch 
            label="Enable User and Password fields" 
            hint="Enable User and Password fields"
            v-model="UserPassword" 
            ></v-switch>
            
  
            <v-btn outline  large  color="green lighten-1"
              @click="submit" 
              :disabled="!valid">
                save
            </v-btn>
            <v-btn outline  large  color="red lighten-1"
              @click="clear">
                clear
          </v-btn>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
</section>

